html,body {
  background: #fff;
  color: #333;
  margin: 0 0;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.title {
  /* text-align: center; */
  text-align: right;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  top: -10px;
  color: white;
  cursor: pointer;
}
.navbar {
  background: rgba(0,0,0,0.8);
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  -ms-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.navitem {
  /*
  background: black;
  */
}
.back {
  background: white;
  background: -moz-radial-gradient(center, circle, white 20%, #f4f4fa 100%);
  /* Chrome10+, Safari5.1+ */
  background: -webkit-radial-gradient(center, circle, white 20%, #f4f4fa 100%);
  /* Firefox, Chrome, IE10, Opera  */
  background: radial-gradient(circle at center, white 20%, #f4f4fa 100%);
}
.image-frame {
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  -ms-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
