<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no" />
    <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <link rel="shortcut icon" href="/favicon.ico">

    <!-- build:css(app/) css/famous.css -->
    <!--
    <link rel="stylesheet" type="text/css" href="/vendor/famous/src/core/famous.css" />
    -->
    <!-- endbuild -->

    <!-- build:css(app/) css/app.css -->
    <!--link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}"-->
    <link rel="stylesheet" href="{{ "/vendor/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/css/bundle.css" | prepend: site.baseurl }}">
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js(app/) src/polyfills.js -->
    <!-- 
    <script type="text/javascript" src="/vendor/famous-polyfills/functionPrototypeBind.js"></script>
    <script type="text/javascript" src="/vendor/famous-polyfills/classList.js"></script>
    <script type="text/javascript" src="/vendor/famous-polyfills/requestAnimationFrame.js"></script>
    -->
    <!-- endbuild -->


    <!-- process:remove:dist -->
    <!--
    <script type="text/javascript" src="/vendor/requirejs/require.js" data-main="/assets/js/requireConfig"></script>
    -->
    <!-- /process -->
</head>
