<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no" />
    {{ if eq .URL "/" }}
    <title>{{ .Title }}</title>
    <meta property='og:title' content="{{ .Title }}">
    <meta property="og:type" content="website">
    {{ else }}
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta property='og:title' content="{{ .Title }} - {{ .Site.Title }}">
    <meta property="og:type" content="article">
    {{ end }}
    <meta property="og:url" content="{{ .Permalink }}">
    {{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Params.image }}<meta property="og:image" content="{{ $.Site.BaseURL }}images/{{ . }}">{{ end }}
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="alternate" type="application/rss+xml" title="{{.Site.Title }} RSS" href="{{ .Site.BaseURL }}/index.xml">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}vendor/font-awesome/css/font-awesome.min.css">
    <!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/bundle.css">
</head>
